body
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #ffffff;
    background-color:#7d7dff;
    font-family: "Oswald", sans-serif;
}
.container
{
    width: 780px;
    border-radius: 20px;
    padding: 135px 40px;
    background-color: black;
}
header h2
{
    font-size: 1.6rem;
}
.container header
{
    display: flex;
    color: #b2b2b2;
    align-items: center;
    justify-content: space-between;
}
header .column
{
    display: flex;
    align-items: center;
}
header header span
{
    font-weight: 500;
    margin-right:15px;
    font-size: 1.19rem;
}
.keys-check input
{
    width: 60px;
    height: 30px;
    appearance: none;
    border-radius: 30px;
    background-color: #cfcfff;
    cursor: pointer;
    position: relative;
}
.keys-check input::before
{
    content: "";
    height: 20px;
    width: 20px;
    top:50%;
    left: 0.3rem;
    border-radius: inherit;
    background-color: #8c8c8c;
    position: absolute;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}
.keys-check input:checked::before
{   
    left: 2.1rem;
    background-color: #fff;

}
.piano-keys
{
    display: flex;
    margin-top: 40px;
}
.piano-keys .key
{
    user-select: none;
    cursor: pointer;
    list-style: none;
    color: #a2a2a2;
    position: relative;
    text-transform: uppercase;
}
.piano-keys .white
{
    width: 70px;
    height: 230px;
    border: 1px solid #000000;
    border-radius: 8px;
    background: linear-gradient(#fff 96%, #eee 4%);
}
.piano-keys .black
{
    width: 44px;
    height: 140px;
    z-index: 2;
    margin: 0 -22px 0 -22px;
    border: 1px solid #000000;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#333, #000);
}
.piano-keys span
{
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.13rem;
}
.piano-keys .white.active
{
    box-shadow: inset -5px 5px 20px rgba(0,0,0.2);
    background-color: linear-gradient(to bottom #fff 0%, #eee 100%);
}
.piano-keys .black.active
{
    
    box-shadow: inset -5px 5px 10px rgba(255,255,255,0.1);
    background-color: linear-gradient(to bottom #fff , #eee);
}
.piano-keys .key.hide span
{
    display: none;
}
.volume-slider
{
    cursor: pointer;
    transform-style:inherit;
    color: #911bd0;
}
footer
{
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 15vh;
    width: 20%;
    padding: 15px;
    border-radius: 20px;
    background-color: #6f6ff3;
    margin: 20px;
}
footer p 
{
    cursor: pointer;
    color: #9234c5;
    margin-bottom: 8px;
}
footer a
{
    color: #39399e;
    padding: 4px;
}
